* {
    font-family: Arial;
    outline: 0 !important;
  }

  body {
    overflow:auto;
    margin: 0;
    padding: 0;
    background-color: #3a3a41;
    box-sizing: border-box;
    color:white;
}

#logout {
    color:white;
    background: #33aaf0;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    line-height: 25px;
    text-decoration: none;
    top: 0px;
    right: 0px;
    margin-top: 20px;
    margin-right: 10px;
    float:right;
    margin-bottom: 20px;
}

#title {
    text-align: center;
    padding-top: 50px;
}

#logout:hover {
    background: #7dc3ec;
}